<div>
	<div class="recruter-box">
		<h2>
			If you are interested in our vacancy, please send your CV.
		</h2>
		<p>Please, contact our recruter to send CV</p>	
		<div class="recruter-row">
			<div class="recruter-bg-post">
			</div>
			<div class="info-padding-post">
				<span class="recruter-name-post">Olena Bakanova</span>
				<br>
				<span class="recruter-info-post">e.bakanova@wiseheadhunters.com</span>
				<br>
				<span class="recruter-info-post">live:bakanova.eu</span>
			</div>
		</div>
	</div>
</div>