<footer id="ex4">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="social col-md-3 col-xs-5 col-sm-12">
                    <h1>WISEHEAD HUNTERS</h1>
                        <div class="social-left">
                            <a href="#">
                                <span class="icon-facebook"></span>
                            </a>
                            <a href="https://www.linkedin.com/company-beta/18187417/">
                                <span class="icon-linkedin2"></span>
                            </a>
                        </div>
                    <h5>Wisehead Hunters provide high quality full-life cycle recruitment services in the IT Sector.</h5>
                </div>
        <div class="footer-btn col-md-6 col-xs-12 col-sm-12">
            <div class="medium-btn tiffany">Contacts</div>
        </div>
            <div class="footer-contacts col-md-3 col-xs-12 col-sm-12">
                <h1>Contacts</h1>   
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/company-beta/18187417/">
                            <span class="icon-linkedin2"></span>
                            <span>oksanasheketa</span>
                        </a>
                    </li>
                    <li>
                        <a href="skype:sheketa21?call">
                            <span class="icon-skype"></span>
                            <span>oksana.sheketa</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:o.sheketa@wiseheadhunters.com">
                            <span class="icon-mail"></span>
                            <span>o.sheketa@wiseheadhunters.com</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</footer>