<div>
	<div class="recruter-box">
		<h2>
			If you are interested in our vacancy, please send your CV.
		</h2>
		<p>Please, contact our recruter to send CV</p>	
		<div class="recruter-row">
			<div class="forth-recruter-bg-post">
			</div>
			<div class="info-padding-post">
				<span class="recruter-name-post">Sheketa Oksana</span>
				<br>
				<span class="recruter-info-post">o.sheketa@wiseheadhunters.com</span>
				<br>
				<span class="recruter-info-post">sheketa21</span>
			</div>
		</div>
	</div>
</div>