<header class="">
    <div class="notresponsive-nav">
        <div class="header-content container">
            <div class="row row-header">
                <div class="col-md-5 col-xs-4 col-lg-6">
                    <a class="logo" href="{{ site.baseurl }}/">WISEHEAD HUNTERS</a>
                </div>
                <!--<div class="col-md-1 col-xs-2 col-lg-3"></div>-->
                <div class="padding-menu col-md-7 col-xs-8 col-lg-6">
                    <div class="menu-header" id="menu">
                    <a href="{{ site.baseurl }}/" class="menu-item">HOME</a>
                    <a href="#ex1" class="menu-item">ABOUT</a>
                    <a href="#ex2" class="menu-item">WHY</a>
                    <a href="#ex3" class="menu-item">TEAM</a>
                    <a href="{{ site.baseurl }}/jobs" class="menu-item">JOBS</a>
                    <a href="{{ site.baseurl }}/blog" class="menu-item">BLOG</a>
                    <a href="#ex4" class="menu-item">CONTACTS</a>
                </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-inverse responsive-navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">WISEHEAD HUNTERS</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
<!--<ul>
   {% for item in site.data.samplelist.docs %}
      <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a></li>
   {% endfor %}
</ul>-->
        
         <ul class="nav navbar-nav">
            <li><a href="{{ site.baseurl }}/">HOME</a></li>
            <li><a href="#ex1">ABOUT</a></li>
            <li><a href="#ex2">WHY</a></li>
            <li><a href="#ex3">TEAM</a></li>
            <li><a href="{{ site.baseurl }}/jobs">JOBS</a></li>
            <li><a href="{{ site.baseurl }}/blog" alt="blog">BLOG</a></li>
            <li><a href="#ex4">CONTACTS</a></li>
        </ul>
    </div>
    </div>
    </nav>
</header>