<main>
    <div class="new-styles-main">
            <div class="container">
                <div class="row">
                    <div class="">
                        <div class="custom-box-1 col-md-12 col-xs-12">
                            <div class="info-custom-box-1">
                                <h1>Wanna be our <span>partner</span>?</h1>
                                <h3>We provide high quality full life cycle recruitment services in the IT sector.</h3>
                                <div class="email-form">
                                    <input type="email" name="email" placeholder="Your email address">
                                    <br>
                                    <button type="submit" class="submit-btn">Get in touch with us!</button>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        <section id="ex1"></section>
        <div class="custom-box-2">
            <div class="container">
            <div class="row">
                <div class="left-box col-md-6 col-xs-6">
                    <h1>Our gang is here to help you!</h1>    
                </div>
                <div class="right-box col-md-6 col-xs-6">
                    <h3>Your buisiness is in the right hands</h3>
                    <h5>We specialise in programmers and IT talent. With extensive candidate market map and market knowledge, we aim to help companies recruit the right talent either in your office or working remotely.</h5>
                    <h3>Your career is in the right hands</h3>
                    <h5>We aim to help IT talents advancing their career and talent-ship. Our board of clients includes variety of national and international companies.</h5>
                </div>
            </div>
            </div>

        </div>
            <section id="ex2"></section>
        <div class="custom-box-3">
            <div class="container">
            <div class="hand-row row">
                <div class="hand-box col-md-4 col-sm-12">
                    <h3>Punctuality</h3>
                    <h5>Introduce great and perfect results just in time</h5>
                </div>
                <div class="hand-box col-md-4 col-sm-12">
                    <h3>Experience</h3>
                    <h5>
                        More than 30 projects completed and 150 candidates recruited
                    </h5>
                </div>
                <div class="hand-box col-md-4 col-sm-12">
                    <h3>Individuality</h3>
                    <h5>We catch your ideas and help make them come true</h5>
                </div>
            </div> 
            </div>

            <div class="screen-hand">
                <img src="assets/img//hand.png">
            </div>   
        </div>
            <section id="ex3"></section>
        <div class="custom-box-4 ">
            <h1>Our Team</h1>
            <h3>We provide high quality full-life cycle recruitment services in the IT Sector.</h3>
        </div>
        <div class="custom-box-5 container">
            <div class="row">
            <div class="about-girl-1 col-md-6 col-xs-6">
                <div class="girl-txt">
                    <img class="girl-photo" src="assets/img/oksana.jpg">
                    <div class="name-proffesion">
                        <span class="worker-name">Oksana</span>
                        <br>
                        <span class="worker-proffesion">Founder of WHH</span>
                    </div>
                    <div class="speech-balloon">
                        <h4>She has a lot of experience in searching qualifying IT specialists. In love with IT, sport and life.</h4>
                    </div>
                </div>                
            </div> 
            <div class="about-girl-1 col-md-6 col-xs-6">
                <div class="girl-txt">
                    <img class="girl-photo" src="assets/img/svitlana.png">
                    <div class="name-proffesion">
                        <span class="worker-name">Svitlana</span>
                        <br>
                        <span class="worker-proffesion">IT Recruiter</span>
                    </div>
                    <div class="speech-balloon">
                        <h4>She is smart, young and enthusiastic. Loves sport and cool sense of humor.</h4>
                    </div>
                </div>                
            </div> 
        </div>
            <div class="row">
            <div class="about-girl-1 col-md-6 col-xs-6">
                <div class="girl-txt">
                    <img class="girl-photo" src="assets/img/olena.jpg">
                    <div class="name-proffesion">
                        <span class="worker-name">Olena</span>
                        <br>
                        <span class="worker-proffesion">IT Recruiter</span>
                    </div>
                    <div class="speech-balloon">
                        <h4>Life-lover and just smart IT girl which helps to fit very challenging positions.</h4>
                    </div>
                </div>                
            </div> 
            <div class="about-girl-1 col-md-6 col-xs-6">
                <div class="girl-txt">
                    <img class="girl-photo" src="assets/img/diana.jpg">
                    <div class="name-proffesion">
                        <span class="worker-name">Diana</span>
                        <br>
                        <span class="worker-proffesion">IT Recruiter</span>
                    </div>
                    <div class="speech-balloon">
                        <h4>She has a talent to find right candidates for our clients.</h4>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    </div>
        <div class="custom-box-6">
            <div class="my-column">
                <h1>Jobs</h1>
                <h5>Here are some job offers we can provide to you now.</h5>
                <div class="container">
                    <div class="my-row row-display row">
                        <div class="display-1 col-md-3 col-xs-3">
                            <h4>Svitla Systems Inc.</h4>
                            <h2>SENIOR FULL STACK FRONT-END</h2>
                        </div>
                        <div class="display-2 col-md-6 col-xs-6">
                            <h4>Svitla Systems Inc.</h4>
                            <h2>SENIOR FULL STACK BACK-END</h2>
                        </div>
                        <div class="display-3 col-md-3 col-xs-3">
                            <h4>Svitla Systems Inc.</h4>
                            <h2>SENIOR FULL STACK FRONT-END</h2>
                        </div>
                    </div>
                </div>
                
                <a href="#ex4" class="medium-btn black">CONTACT US</a>
            </div>    
        </div>
        <div class="custom-box-7">
            <div class="partners-txt">
                <h1>Partners</h1>
                <h5>These companies have trusted us</h5>
            </div>
                <div>
                    <ul class="partners-logo-first text-center" >
                            <li>
                                <a href="https://www.dev-pro.net">
                                    <img src="assets/img/dev-pro.png">
                                </a>
                            </li>
                            <li>
                                <a href="http://dops.digital/ukr/">
                                    <img src="assets/img/dops.png">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.interlogic.com.ua/ua/">
                                    <img src="assets/img/inter-logic.jpg">
                                </a>
                            </li>
                            
                     </ul>
                    <ul class="partners-logo-second text-center">
                        <li>
                            <a href="http://halysoft.com">
                                <img src="assets/img/haly-soft.png">
                            </a>
                        </li>
                        <li>
                            <a href="https://inoxoft.com">
                                <img src="assets/img/inoxoft.png">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.tgadigital.com/">
                                <img src="assets/img/tga.png">
                            </a>
                        </li>
                    </ul>
                    <ul class="partners-logo-third text-center">
                        <li>
                            <a href="http://www.mycubes.nl">
                                <img src="assets/img/cubes.png">
                            </a>
                        </li>
                        <li>
                            <a href="http://agiliway.com">
                                <img src="assets/img/way.png">
                            </a>
                        </li>
                        <li>
                            <a href="http://www.techmagic.co">
                                <img src="assets/img/tech.png">
                            </a>
                        </li>
                    </ul>
                </div>
                
        </div>
       <!-- <div class="custom-box-8">
            <h1>Testimonials</h1>
            <h3>We helped this guys. Are you the next one?</h3> -->
            <!--slider-->
           <!-- <ul class="bxslider">
  <li><div class="left-testimonial">
              <div class="row-testimonial">
                <img src="assets/img/girl.png">
                <div class="column-testimonial">
                    <h1>Mike Wazowski</h1>
                    <h5>Team Lead in Monsters Inc.</h5>
                </div>
            </div>
            <h3>“ I first discovered that mirrors deflect microwave radiation from cell phones and towers when a resident in Hawaii placed a large mirror at the head of his bed. His sleep improved from 3 hours a night to 5 hours before first waking up. Other research has validated that shiny surfaces including mirrors and reflective stainless steel will reflect cell phone signals. ”</h3>
            <h6>March 14, 2016, Mike worked with Wisehead Hunters</h6>
            <a href="#" class="medium-btn tiffany btn-slider">SHOW ON LINKEDIN</a>
          </div></li>  <li><div class="left-testimonial">
              <div class="row-testimonial">
                <img src="assets/img/girl.png">
                <div class="column-testimonial">
                    <h1>Mike Wazowski</h1>
                    <h5>Team Lead in Monsters Inc.</h5>
                </div>
            </div>
            <h3>“ I first discovered that mirrors deflect microwave radiation from cell phones and towers when a resident in Hawaii placed a large mirror at the head of his bed. His sleep improved from 3 hours a night to 5 hours before first waking up. Other research has validated that shiny surfaces including mirrors and reflective stainless steel will reflect cell phone signals. ”</h3>
            <h6>March 14, 2016, Mike worked with Wisehead Hunters</h6>
            <a href="#" class="medium-btn tiffany btn-slider">SHOW ON LINKEDIN</a>
          </div></li>
                  <li><div class="left-testimonial">
              <div class="row-testimonial">
                <img src="assets/img/girl.png">
                <div class="column-testimonial">
                    <h1>Mike Wazowski</h1>
                    <h5>Team Lead in Monsters Inc.</h5>
                </div>
            </div>
            <h3>“ I first discovered that mirrors deflect microwave radiation from cell phones and towers when a resident in Hawaii placed a large mirror at the head of his bed. His sleep improved from 3 hours a night to 5 hours before first waking up. Other research has validated that shiny surfaces including mirrors and reflective stainless steel will reflect cell phone signals. ”</h3>
            <h6>March 14, 2016, Mike worked with Wisehead Hunters</h6>
            <a href="#" class="medium-btn tiffany btn-slider">SHOW ON LINKEDIN</a>
          </div></li>
                  <li><div class="left-testimonial">
              <div class="row-testimonial">
                <img src="assets/img/girl.png">
                <div class="column-testimonial">
                    <h1>Mike Wazowski</h1>
                    <h5>Team Lead in Monsters Inc.</h5>
                </div>
            </div>
            <h3>“ I first discovered that mirrors deflect microwave radiation from cell phones and towers when a resident in Hawaii placed a large mirror at the head of his bed. His sleep improved from 3 hours a night to 5 hours before first waking up. Other research has validated that shiny surfaces including mirrors and reflective stainless steel will reflect cell phone signals. ”</h3>
            <h6>March 14, 2016, Mike worked with Wisehead Hunters</h6>
            <a href="#" class="medium-btn tiffany btn-slider">SHOW ON LINKEDIN</a>
          </div></li>
                <li><div class="left-testimonial">
              <div class="row-testimonial">
                <img src="assets/img/girl.png">
                <div class="column-testimonial">
                    <h1>Mike Wazowski</h1>
                    <h5>Team Lead in Monsters Inc.</h5>
                </div>
            </div>
            <h3>“ I first discovered that mirrors deflect microwave radiation from cell phones and towers when a resident in Hawaii placed a large mirror at the head of his bed. His sleep improved from 3 hours a night to 5 hours before first waking up. Other research has validated that shiny surfaces including mirrors and reflective stainless steel will reflect cell phone signals. ”</h3>
            <h6>March 14, 2016, Mike worked with Wisehead Hunters</h6>
            <a href="#" class="medium-btn tiffany btn-slider">SHOW ON LINKEDIN</a>
          </div></li>
                <li><div class="left-testimonial">
              <div class="row-testimonial">
                <img src="assets/img/girl.png">
                <div class="column-testimonial">
                    <h1>Mike Wazowski</h1>
                    <h5>Team Lead in Monsters Inc.</h5>
                </div>
            </div>
            <h3>“ I first discovered that mirrors deflect microwave radiation from cell phones and towers when a resident in Hawaii placed a large mirror at the head of his bed. His sleep improved from 3 hours a night to 5 hours before first waking up. Other research has validated that shiny surfaces including mirrors and reflective stainless steel will reflect cell phone signals. ”</h3>
            <h6>March 14, 2016, Mike worked with Wisehead Hunters</h6>
            <a href="#" class="medium-btn tiffany btn-slider">SHOW ON LINKEDIN</a>
          </div></li>
                <li><div class="left-testimonial">
              <div class="row-testimonial">
                <img src="assets/img/girl.png">
                <div class="column-testimonial">
                    <h1>Mike Wazowski</h1>
                    <h5>Team Lead in Monsters Inc.</h5>
                </div>
            </div>
            <h3>“ I first discovered that mirrors deflect microwave radiation from cell phones and towers when a resident in Hawaii placed a large mirror at the head of his bed. His sleep improved from 3 hours a night to 5 hours before first waking up. Other research has validated that shiny surfaces including mirrors and reflective stainless steel will reflect cell phone signals. ”</h3>
            <h6>March 14, 2016, Mike worked with Wisehead Hunters</h6>
            <a href="#" class="medium-btn tiffany btn-slider">SHOW ON LINKEDIN</a>
          </div></li>
                <li><div class="left-testimonial">
              <div class="row-testimonial">
                <img src="assets/img/girl.png">
                <div class="column-testimonial">
                    <h1>Mike Wazowski</h1>
                    <h5>Team Lead in Monsters Inc.</h5>
                </div>
            </div>
            <h3>“ I first discovered that mirrors deflect microwave radiation from cell phones and towers when a resident in Hawaii placed a large mirror at the head of his bed. His sleep improved from 3 hours a night to 5 hours before first waking up. Other research has validated that shiny surfaces including mirrors and reflective stainless steel will reflect cell phone signals. ”</h3>
            <h6>March 14, 2016, Mike worked with Wisehead Hunters</h6>
            <a href="#" class="medium-btn tiffany btn-slider">SHOW ON LINKEDIN</a>
            </div></li>
            </ul>
           
            </div>
        </div>   -->   
</main>