 <div class="custom-box-8">
            <h1>Testimonials</h1>
            <h3>We helped this guys. Are you the next one?</h3>
            <!--slider-->
            <ul class="bxslider">
  <li><div class="left-testimonial">
              <div class="row-testimonial">
                <img src="assets/img/lidiya.jpg">
                <div class="column-testimonial">
                    <h1>Lidiya Dats</h1>
                    <h5>Co-Founder Tech Magic.</h5>
                </div>
            </div>
            <h3>“ Oksana and her team have consistently found us top candidates for interview. It is very much a case of quality over quantity. They were putting forward only those candidates who closely match our requirements and our company culture.  http://www.linkedin.com/in/ldats/... ”</h3>
            <h6>May 04, 2017, Lidiya Dats worked with Wisehead Hunters</h6>
            <a href="http://www.linkedin.com/in/ldats/" class="medium-btn tiffany btn-slider">
                SHOW ON LINKEDIN
            </a>
          </div></li>  <li><div class="left-testimonial">
              <div class="row-testimonial">
                <img src="assets/img/max.jpg">
                <div class="column-testimonial">
                    <h1>Max Savonin</h1>
                    <h5>CEO Keenethics.</h5>
                </div>
            </div>
            <h3>“ I can firmly recommend Oksana as an excellent recruiter. Oksana helped me to close a couple of positions in my company. During this time I found her to be equally great at searching appropriate candidates and at motivating candidates to cooperate with my company.  Also, besides being a great professional... ”</h3>
            <h6>May 04, 2017, Max Savonin worked with Wisehead Hunters</h6>
            <a href="http://www.linkedin.com/in/max-savonin-698a9367/" class="medium-btn tiffany btn-slider">
                SHOW ON LINKEDIN
            </a>
          </div></li>
                  <li><div class="left-testimonial">
              <div class="row-testimonial">
                <img src="assets/img/nazar.jpg">
                <div class="column-testimonial">
                    <h1>Nazar Kvartalnyi</h1>
                    <h5>Co-founder / Technical Director at Inoxoft</h5>
                </div>
            </div>
            <h3>“ Oksana is is one of the most valuable people I have ever met. Both smart and professional, intelligent person, with great experience, who was fast pace growing as talent manager. Her responses are timely, value-added, and she’s is well adapted to work with new people. She helped us to... ”</h3>
            <h6>May 04, 2017, Nazar Kvartalnyi worked with Wisehead Hunters</h6>
            <a href="http://www.linkedin.com/in/nazar-kvartalnyi-70207238/" class="medium-btn tiffany btn-slider">
                SHOW ON LINKEDIN
            </a>
          </div></li>
                  <li><div class="left-testimonial">
              <div class="row-testimonial">
                <img src="assets/img/yura.jpg">
                <div class="column-testimonial">
                    <h1>Yuriy Kinakh</h1>
                    <h5>Team Manager/Lead Developer at My Cubes B.V.</h5>
                </div>
            </div>
            <h3>“ I addressed to Oksana to help me fill open vacancy, and within a short period of time, she managed to find the right people who not only met the technical requirements but was also a valuable asset to the team. Oksana is an expert in recruitment. If anyone asks me... ”</h3>
            <h6>April 06, 2016, Yuriy Kinakh worked with Wisehead Hunters</h6>
            <a href="http://www.linkedin.com/in/yuriy-kinakh-115b6831/" class="medium-btn tiffany btn-slider">SHOW ON LINKEDIN</a>
          </div></li>
                <li><div class="left-testimonial">
              <div class="row-testimonial">
                <img src="assets/img/nataliya.jpg">
                <div class="column-testimonial">
                    <h1>Nataliia Yurchenko</h1>
                    <h5>Scrum Master</h5>
                </div>
            </div>
            <h3>“ Oksana is a great professional with strong feeling of responsibility and a quick learner. We have worked together on several projects and cooperating with Oksana was easy and effective. I strongly recommend Oksana as a recruiter as she would bring a great value to your team.  https://www.linkedin.com/... ”</h3>
            <h6>July 22, 2015, Nataliia Yurchenko worked with Wisehead Hunters</h6>
            <a href="https://www.linkedin.com/in/nataliaiurchenko/" class="medium-btn tiffany btn-slider">  SHOW ON LINKEDIN
            </a>
          </div></li>
                <li><div class="left-testimonial">
              <div class="row-testimonial">
                <img src="assets/img/volodymyr.jpg">
                <div class="column-testimonial">
                    <h1>Volodymyr Danyliv</h1>
                    <h5>AQA/QA Engineer</h5>
                </div>
            </div>
            <h3>“ Oksana is the most professional HR manager I've ever met. She is high motivated and perfect recruiting specialist with ideal business manners and perfect communication style. Oksana always improves her skills for developing herself. I highly recommend her as a hands-on professional, who is interested in having motivated personnel.  https:... ”</h3>
            <h6>February 27, 2015, Volodymyr Danyliv worked with Wisehead Hunters</h6>
            <a href="https://www.linkedin.com/in/volodymyr-danyliv-40900484/" class="medium-btn tiffany btn-slider">
                SHOW ON LINKEDIN
            </a>
          </div></li>
                <li><div class="left-testimonial">
              <div class="row-testimonial">
                <img src="assets/img/alina.jpg">
                <div class="column-testimonial">
                    <h1>Alina Verbitskaya</h1>
                    <h5>International IT recruiter</h5>
                </div>
            </div>
            <h3>“ I was fortunate to work with Oksana . She is friendly, hardworking and pleasant girl . She is a great professional and a wonderful person . I recommend her for any IT professional who is looking for a job or for any employer who is looking for recruiter.  https://www.linkedin.com/in/... ”</h3>
            <h6>February 07, 2015, Alina Verbitskaya worked with Wisehead Hunters</h6>
            <a href="https://www.linkedin.com/in/alina-verbitskaya-0a712992/" class="medium-btn tiffany btn-slider">SHOW ON LINKEDIN</a>
          </div></li>
                <!--<li><div class="left-testimonial">
              <div class="row-testimonial">
                <img src="assets/img/girl.png">
                <div class="column-testimonial">
                    <h1>Name</h1>
                    <h5>Proffesion</h5>
                </div>
            </div>
            <h3>description</h3>
            <h6>When worked</h6>
            <a href="#" class="medium-btn tiffany btn-slider">SHOW ON LINKEDIN</a>
            </div></li> -->
            </ul>
           
            </div>
        </div>